<!DOCTYPE html>
<html>

<head>
    <title> Register </title>
</head>

{% for message in get_flashed_messages() %}
<p>
    <b>{{ message }}</b>
</p>
{% endfor %}

<body>
    <form action="/create" method="post">
        <p>
            Username: <br />
            <input type="text" name="username" value="{{ filled.username }}" maxlength="16"/>
        </p>
        <p>
            Password: <br />
            <input type="password" name="password1" />
        </p>
        <p>
            Repeat password: <br />
            <input type="password" name="password2" />
        </p>
        <input type="submit" value="Create account" />
    </form>


</body>


</html>